.full-card {
  margin: 10px;
  background-color: rgb(255, 255, 255);
  width: 200px;
}

.div-imagem {
  background-color: rgb(179, 179, 179);
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.pokemon-sprite {
  height: 150px;
}

.name {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.number {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 15px;
  height: 20px;
}

.type-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 10px;

}

.default-container {
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  border-radius: 25px;
  font-size: 18px;
  border: 3px solid black;
  box-shadow: inset 0 0 0 2px white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 70px;
}

.div-color-default {
  background-color: lightgray;
}



