$items-per-row: 4;

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://external-preview.redd.it/z7_wYb9-YSvt0pDJlDIu8iuK_aWdqZPg0wvrGdwNvBw.png?auto=webp&s=b40bf3d0bccf7fe4f8dc601182710ca34eac2222');
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-size: cover;

}

.background {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  justify-content: center;
  background-color: rgb(121, 132, 132);
  width: 75%;
}

ol {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  li {
    width: calc(100% / #{$items-per-row});
  }
}

.center {
  display: flex;
  justify-content: center;
}




