<div class="center-all">
  <div class="background" *ngIf="!isLoading; else loading">

    <app-page-controller
    (firstPage)="firstPage()"
    (pageForward)="nextPage()"
    (pageBack)="previousPage()"
    (lastPage)="lastPage()"
    class="botoes-top"></app-page-controller>

    <div class="center">
      <ol>
        <li *ngFor="let pokemon of pokemons">
          <app-cardpokemon [shownPokemon]="pokemon"></app-cardpokemon>
        </li>
      </ol>
    </div>

    <app-page-controller
    (firstPage)="firstPage()"
    (pageForward)="nextPage()"
    (pageBack)="previousPage()"
    (lastPage)="lastPage()"
    class="botoes-bottom">
    </app-page-controller>

  </div>
</div>

<ng-template #loading>
  <app-loading-pokeball></app-loading-pokeball>
</ng-template>

