
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.div-color-bug {
  background-color: rgb(159, 172, 59);
}

.div-color-dark {
  background-color: rgb(74, 57, 47);
}

.div-color-dragon {
  background-color: rgb(111, 94, 217);
}

.div-color-electric {
  background-color: rgb(217, 170, 62);
}

.div-color-fairy {
  background-color: rgb(227, 172, 236);
}

.div-color-fighting {
  background-color: rgb(125, 63, 42);
}

.div-color-fire {
  background-color: rgb(250, 55, 16);
}

.div-color-flying {
  background-color: rgb(157, 168, 237);
}

.div-color-ghost {
  background-color: rgb(95, 96, 163);
}

.div-color-grass {
  background-color: rgb(127, 180, 75);
}

.div-color-ground {
  background-color: rgb(206, 177, 99);
}

.div-color-ice {
  background-color: rgb(135, 208, 242);
}

.div-color-normal {
  background-color: rgb(191, 186, 177);
}

.div-color-poison {
  background-color: rgb(135, 76, 144);
}

.div-color-psychic {
  background-color: rgb(217, 84, 128);
}

.div-color-rock {
  background-color: rgb(153, 136, 72);
}

.div-color-steel {
  background-color: rgb(150, 148, 163);
}

.div-color-water {
  background-color: rgb(78, 142, 234);
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-image: url('https://external-preview.redd.it/z7_wYb9-YSvt0pDJlDIu8iuK_aWdqZPg0wvrGdwNvBw.png?auto=webp&s=b40bf3d0bccf7fe4f8dc601182710ca34eac2222');
  background-image: url('https://st2.depositphotos.com/3213441/12022/v/950/depositphotos_120226584-stock-illustration-pokemon-go-pokeball-seamless-texture.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
