<mat-toolbar class="personalizacao">

  <button mat-icon-button class="pokeballButton" (click)="onClickHomeButton()">
    <img src= "{{ iconUrl }}">
  </button>

  <a href="http://localhost:4200/pokemons">
    <img class="logo" src="/assets/pkm_logo.png">
  </a>

  <span class="example-spacer"></span>

  <div class="searchbar">
    <input type="text" class="inputArea" placeholder="Busque um Pokemon!" [(ngModel)]="searchInput" (keypress)="onKeyPress($event)">
    <button class="search-button" (click)="onClick()">
      <i class="material-icons">search</i>
    </button>
  </div>


  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>

</mat-toolbar>
