.personalizacao {
  background-color: red
}

.pokeballButton {
  padding: 0px;
}
.pokeballButton img {
  padding-top: 3px;
  width: 100%;
  height: auto;
}

.logo {
  height: 150px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}


.pokebola {
  background-color: red;
  height: 30px;

}

.searchbar {
  display: flex;
  align-items: center;
  width: 400px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-right:130px;
  overflow: hidden;
  height: 35px;
  background-color: white;
}

input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 17px;
}

input[type="text"]::placeholder {
  font-size: 20px;
  padding-left: 30px;
}

.search-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding-right: 20px;
}

.material-icons {
  font-size: 20px;
}

